<div class="container">
  <div class="row text-center"> 
    <div class="col-sm-offset-1 col-sm-4 col-lg-4">
      <form class="groupForm" ng-submit="submitForm();">
        <div class="well" >
          <table class="table">
            <header><h3>Connect Group</h3></header>
            <tbody>
              <td>
                <input type="checkbox" ng-model="geolocation" ng-click="checkedGeolocation()">
              </td>
              <td>
                <h4 class="geolocation">My Current location</h4>
              </td>
              <tr ng-repeat="user in userList" ng-class="{changeColor: user.selected}">
               <td>
                 <input type="checkbox" class="styled" ng-model="user.selected" ng-click="color();">
               </td>
               <td><h4>{{user.name}}</h4></td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="btn btn-warning" ng-click="showPlaces()">Submit</button>
        </div>
      </form>
    </div> 
    <div id="nested" class="col-sm-6">
        <div class="dashboard-view-container">
            <div class="dashboard-ui-view" ui-view></div>
        </div>
    </div>
  </div>
</div>
