<div class="row">
  <div class="col-xs-10 col-md-12 text-center"> 
    <div ng-hide="selectedPlace">
      <div ng-repeat= "place in placesHash" >
        <button id="suggested-places" class="btn btn-warning">
          <div ng-click="selectPlace(place);">
            </h1>{{place.name}}</h1></br>
            <img src="{{place.rating_img_url}}"/>  
          </div>
        </button>
      </div>
    </div>
  </div>
  <div id="nested-view" class="col-xs-offset-1 col-xs-10 text-center" ng-show="selectedPlace">
    <div class="text-right">
      <button class="btn" id="back" ng-click="clearSelectedPlace();">X</button>
    </div>
    <h1 id="place-name"><a href="{{selectedPlace.url}}" target="_blank">{{selectedPlace.name}}</a></h1>
      <p>{{selectedPlace.summary}}</p>

      <h3 id="address"><a href="https://maps.google.com?q={{selectedPlace.address}}" target="_blank">{{selectedPlace.address}}</a></h3>
    </br>
    <button class="btn btn-primary" ng-click="viewInMap();">View in Map</button> 
    <button class="btn btn-primary" ng-click="textAddress(selectedPlace.name, selectedPlace.address)">Text Address</button>
  </div>
</div>
