@import "bootstrap";
@import "globals";

body {
  background-color: black;
  color: white;
}
.container {
    position: relative;
    width: 100%;
}

.dashboard-view-container{
    position: relative;
}
.dashboard-ui-view{
    @extend .main-view-container;
}
.changeColor {
  color: lightblue;
  }

a:hover {
  text-decoration: none;
}

#content {
  position: relative;
  max-width: 1500px; 
  line-height: 1.5;
  min-width: 1000px;
  text-align: center;
  margin: 0 auto;
    h1 {
    font-size: 60px;
    line-height: 65px;
    }
  }
#nested {
  position: relative;
  top: 100px;
  margin-bottom: 2em;
  h1 {
    color: lightblue;
  }
  h3 {
    color: white;
    text-decoration: none;
  }
  }
#nested-view{
  height: 38em;
}

#wrapper {
  position: absolute;
}

.angular-google-map-container {
  height: 30em;
  color: black;
}
.groupForm {
  padding-top: 50px;
}

.well {
  background-color: black;
  border-color: black;
  h1 {
    color: lightblue;
  }
  p {
    color: white;
  }

}

#suggested-places {
  width: 33em;
  height: 4em;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
#suggested-places {
  width: 20em;
  height: 4em;
}
}


#back {
  font-color: white;
  text-decoration: none;
  font-size: 2em;
}
.btn {
  background-color: black;
}

