@import "bootstrap";
@import "globals";

body {
  background-color: black;
  color: white;
}
.container {
    position: relative;
    width: 100%;
}
.changeColor {
  color: lightblue;
  }

a:hover {
  text-decoration: none;
}

#content {
  position: relative;
  max-width: 1500px; 
  line-height: 1.5;
  min-width: 1000px;
  text-align: center;
  margin: 0 auto;
    h1 {
    font-size: 60px;
    line-height: 65px;
    }
  }
#nested {
  position: relative;
  top: 100px;
  margin-bottom: 2em;
  h1 {
    color: lightblue;
  }
  h3 {
    color: white;
    text-decoration: none;
  }
  }
#nested-view{
  height: 38em;
  border: 1px solid white;
}

#wrapper {
  position: absolute;
}

.dashboard-view-container{
    position: relative;
}
.dashboard-ui-view{
    @extend .main-view-container;
}

.angular-google-map-container {
  width: 57.75em;
  height: 30em;
}
.groupForm {
  padding-top: 50px;
}

.well {
  background-color: black;
  border-color: black;
  h1 {
    color: lightblue;
  }
  p {
    color: white;
  }

}

#suggested-places {
  width: 36.5em;
  height: 4em;
}


#back {
  font-color: white;
  text-decoration: none;
  font-size: 2em;
}
.btn {
  background-color: black;
}

